<body>
    <%- include('admin_header.ejs') %>
        <h1 class="createC">회원 초대</h1>
        <form class="form-box" action="/send-emails" method="POST">
            <div class="createclass">
                <h3>보낼 회원 email</h3>
                <input class="team_input" type="email" name="email" placeholder="email을 입력하세요">
    
                <button class="project-btn">발송하기</button>
            </div>
        </form>


</body>