<body>
    <%- include('admin_header.ejs') %>

        <div class="boxs2">
            <a href="/admin/createclass" ><div class="selectbox2">클래스 생성</div></a>
            <a href="/classes" ><div class="selectbox2">클래스 관리</div></a>
        </div>

</body>