<body>
    <%- include('admin_header.ejs') %>

    <h1 class="createC"><%= class.name %></h1>
    <div class="boxs3">
        <a href="/admins/task">
            <div class="selectbox">제출 관리</div>
        </a>
        <a href="/projects">
            <div class="selectbox">프로젝트 관리</div>
        </a>
        <a href="">
            <div class="selectbox">피드백 관리</div>
        </a>
    </div>
</body>
