<body>
    <%- include('admin_header.ejs') %>
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="TIL">TIL</option>
            <option value="PERSONAL_PROJECT">Personal Project</option>
            <option value="TEAM_PROJECT">Team Project</option>
        </select>

        <label for="startDate">제출일:</label>
        <input type="date" id="startDate" name="startDate">

        <button onclick="fetchProjects()">조회하기</button>

        <div id="result" class="result">
            <div id="yes" class="yes">제출완료</div>
            <div id="no" class="no">미제출자</div>
        </div>


        <script>
            async function fetchProjects() {
                const category = document.getElementById('category').value;
                const startDate = document.getElementById('startDate').value;
                const endDate = document.getElementById('endDate').value;

                // 여기서 API 호출 및 결과 처리 로직을 작성
                const response = await fetch(`/api/projects?category=${category}&startDate=${startDate}&endDate=${endDate}`);
                const data = await response.json();

                // 결과를 화면에 표시
                const resultDiv = document.getElementById('result');
                resultDiv.innerHTML = JSON.stringify(data);
            }
        </script>

</body>