<body>
    <%- include('admin_header.ejs') %>

        <div class="boxs">
            <a href="/til/students" ><div class="selectbox">TIL 관리</div></a>
            <a href="" ><div class="selectbox">개인과제 관리</div></a>
            <a href="" ></a><div class="selectbox">팀 관리</div></a>
            <a href="" ></a><div class="selectbox">피드백 관리</div></a>
        </div>

</body>