<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>02월16일 유진님 졸업식 축하해주시조</title>
  <script src="https://kit.fontawesome.com/8bc9e38e4e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="header">
    <a href="/main" class="logo">02월 16일 유진님 졸업식 축하해주시조 <i class="fa-solid fa-user-graduate"></i></a>

    <a href="/signin" class="sign_in">로그인</a>
    <!-- <form class="sign-out" action="/users/sign-out" method="POST">
      <button type="submit" class="sign_out">로그아웃</button>
    </form>
    <a class="user" href="/users/profile"><i class="fa-solid fa-user"></i></a> -->
    <a href="/signup" class="sign_up">회원가입</a>
  </div>

  <!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
      // 페이지 로딩 시에 쿠키 확인
      const accessToken = getCookie('accessToken');
      const refreshToken = getCookie('refreshToken');
      const isVerified = getCookie('cookie');


      // 쿠키가 존재하면 로그아웃 버튼을 표시하고, 로그인 버튼을 감춤
      if (accessToken || refreshToken || isVerified) {
        document.querySelector('.sign_in').style.display = 'none';
        document.querySelector('.sign_up').style.display = 'none';
        document.querySelector('.user').style.display = 'block';
        document.querySelector('.sign_out').style.display = 'block';
      } else {
        document.querySelector('.sign_in').style.display = 'block';
        document.querySelector('.sign_up').style.display = 'block';
        document.querySelector('.user').style.display = 'none';
        document.querySelector('.sign_out').style.display = 'none';
      }
    });

    // 쿠키를 읽어오는 함수
    function getCookie(name) {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith(name + '=')) {
          return cookie.substring(name.length + 1);
        }
      }
      return '';
    }
  </script> -->
</body>

</html>