<body>
    <%- include('student_header.ejs') %>

        <div class="boxs">
            <a href="/students/til" ><div class="selectbox">TIL</div></a>
            <a href="/students/personal_project" ><div class="selectbox">개인과제</div></a>
            <a href="/students/team" ><div class="selectbox">팀</div></a>
        </div>

</body>