<body>
    <%- include('student_header.ejs') %>

        <div class="boxs">
            <a href="/projects?category=TIL" ><div class="selectbox">TIL</div></a>
            <a href="/projects?category=PERSONAL_PROJECT" ><div class="selectbox">개인과제</div></a>
            <a href="/projects?category=TEAM_PROJECT" ><div class="selectbox">팀과제</div></a>
            
        </div>

</body>