<body>
    <%- include('student_header.ejs') %>

        <form class="form-box" action="/teams/:teamId" method="POST">
            <div class="Infos">
                <div class="groundRules"><h3>Team Name</h3>
                    <input class="team_input" type="text" name="teamName" placeholder="Team Name을 입력하세요">
                </div>
                <div class="groundRules"><h3>GroundRules</h3>
                    <input class="team_input" type="text" name="groundRules" placeholder="GroundRules을 입력하세요">
                </div>
                <div class="goals"><h3>Goals</h3>
                    <input class="team_input" type="text" name="goals" placeholder="Goals을 입력하세요">
                </div>
                <div class="contents"><h3>Contents</h3>
                    <input class="team_input" type="text" name="content" placeholder="Contents를 입력하세요">
                </div>
            </div>
            <button class="submitbtn">제출하기</button>
        </form>
</body>