<body>
    <%- include('header.ejs') %>

        <div class="selectbox1">TIL</div>
        <div class="selectbox2">개인과제</div>
        <div class="selectbox2">팀</div>
        <div class="selectbox3">피드백</div>
</body>