<body>
    <%- include('student_header.ejs') %>

    <h1 class="main_title">팀</h1>
        <div class="tasks">
            <a href="/tasks/:taskId" ><div class="task">노드 숙련 주차</div></a>
            <a href="/til/students" ><div class="task">노드 숙련 주차</div></a>
        </div>

</body>