<body>
    <%- include('student_header.ejs') %>

    <h1 class="teamname">title</h1>
        <div class="Infos">
            <h3 class="name">튜터님</h3>
            <div class="groundRules">content</div>
            <h2 class="goals">rating
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </h2>
        </div>
</body>