<body>
    <%- include('header.ejs') %>

        <div class="boxs">
            <a href="/til/students" ></a><div class="selectbox">TIL</div></a>
            <a href="" ></a><div class="selectbox">개인과제</div></a>
            <a href="" ></a><div class="selectbox">팀</div></a>
           <a href="" ></a> <div class="selectbox">피드백</div></a>
        </div>

</body>