<body>
    <%- include('header.ejs') %>

    <h1 class="teamname">팀이름</h1>
        <div class="Infos">
            <div class="groundRules">GroundRules</div>
            <div class="goals">Goals</div>
            <div class="contents">Contents</div>
        </div>
        <button class="submitbtn">제출하기</button>

</body>