<body>
    <%- include('tutor_header.ejs') %>

        <div class="boxs">
            <a href="/projects?category=PERSONAL_PROJECT" ><div class="selectbox">개인과제 조회하기</div></a>
            <a href="/projects?category=TEAM_PROJECT" ><div class="selectbox">팀과제 조회하기</div></a>
            <a href="/feedbacks" ><div class="selectbox">피드백 조회하기</div></a>
        </div>

</body>