.main {
    text-align: center;
}

.main_title {
    color: #333;
}

.month {
    margin: 20px 0;
}

.month span {
    cursor: pointer;
}

.next {
    position: relative;

    margin-bottom: 100px;
}

.left,
.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}


.dayCount-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.dayCount-list li {
    flex: 1;
    text-align: center;
}

.dayCount-list li:nth-child(7) {
    color: blue;
}

.dayCount-list li:nth-child(1) {
    color: red;
}

.day {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day li {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    height: 80px;
}

.inactive {
    color: #999;
}